In [71]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [72]:
train = pd.read_csv('train_final.csv')
test = pd.read_csv('test_final.csv')

/tmp/ipykernel_48419/3407783930.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('train_final.csv')
/tmp/ipykernel_48419/3407783930.py:2: DtypeWarning: Columns (4,17,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv('test_final.csv')

In [73]:
train = train.drop('account_opening_date',axis=1)
test = test.drop('account_opening_date',axis=1)
train

,Target,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,demog_4,demog_5,...,demog_39,email_domain,demog_40,demog_41,others_42,others_43,others_44,others_45,demog_42,demog_43
0,1,IN,55.0,1.0,100001 to 5L,101.0,Tier 2,Other,N,4.0,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
1,1,IN,55.0,2.0,100001 to 5L,101.0,Tier 8,Self_Employed,N,NaN,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
2,1,IN,53.0,2.0,5L to 10L,101.0,Tier 1,Self_Employed,N,4.0,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,medium
3,1,IN,55.0,3.0,10L to 25L,101.0,Tier 1,Self_Employed,N,3.0,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,High
4,1,IN,56.0,2.0,100001 to 5L,101.0,Tier 7,Self_Employed,N,2.0,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,0,IN,401.0,4.0,0 to 1L,103.0,Tier 4,Homemaker,N,3.0,...,1,Others,High,1,NaN,NaN,NaN,NaN,1,medium
69996,0,IN,55.0,6.0,0 to 1L,101.0,Tier 7,Student,N,4.0,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium
69997,0,IN,56.0,2.0,0 to 1L,101.0,Tier 5,Self_Employed,N,2.0,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium
69998,0,IN,55.0,3.0,10L to 25L,101.0,Tier 2,Self_Employed,6,4.0,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,medium
69999,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,4.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN

In [74]:
df = pd.concat([train,test],axis=0)
df

,Target,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,demog_4,demog_5,...,demog_39,email_domain,demog_40,demog_41,others_42,others_43,others_44,others_45,demog_42,demog_43
0,1,IN,55.0,1.0,100001 to 5L,101.0,Tier 2,Other,N,4.0,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
1,1,IN,55.0,2.0,100001 to 5L,101.0,Tier 8,Self_Employed,N,NaN,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
2,1,IN,53.0,2.0,5L to 10L,101.0,Tier 1,Self_Employed,N,4.0,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,medium
3,1,IN,55.0,3.0,10L to 25L,101.0,Tier 1,Self_Employed,N,3.0,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,High
4,1,IN,56.0,2.0,100001 to 5L,101.0,Tier 7,Self_Employed,N,2.0,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0,IN,55.0,7.0,100001 to 5L,101.0,Tier 4,Other,N,3.0,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium
29996,0,IN,55.0,1.0,0 to 1L,101.0,Tier 1,Salaried,N,4.0,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,medium
29997,0,IN,55.0,10.0,5L to 10L,101.0,Tier 3,Other,NaN,4.0,...,1,yahoo,High,1,NaN,NaN,NaN,NaN,1,High
29998,0,IN,52.0,10.0,50L to 3Crore,101.0,Tier 1,Other,NaN,4.0,...,1,gmail,medium,1,NaN,NaN,0.0,234.0,1,medium
29999,0,IN,55.0,11.0,100001 to 5L,104.0,Tier 7,Minor,NaN,3.0,...,1,Others,low,1,NaN,NaN,NaN,NaN,1,low

In [24]:
for i in df.columns:
    print(i)

Target
country_code
demog_1
demog_2
income
demog_3
city_tier
occupation
demog_4
demog_5
demog_6
demog_7
demog_8
demog_9
demog_10
demog_11
demog_12
demog_13
demog_14
demog_15
demog_16
demog_17
demog_18
demog_19
demog_20
demog_21
demog_22
os
txn_1
txn_2
txn_3
txn_4
txn_5
txn_6
txn_7
txn_8
txn_9
txn_10
txn_11
txn_12
txn_13
txn_14
txn_15
txn_16
txn_17
txn_18
txn_19
txn_20
txn_21
txn_22
txn_23
txn_24
txn_25
txn_26
txn_27
txn_28
txn_29
txn_30
txn_31
txn_32
txn_33
txn_34
txn_35
txn_36
txn_37
txn_38
txn_39
txn_40
txn_41
txn_42
txn_43
txn_44
txn_45
txn_46
txn_47
txn_48
txn_49
txn_50
txn_51
txn_52
txn_53
txn_54
txn_55
txn_56
txn_57
txn_58
txn_59
txn_60
txn_61
txn_62
txn_63
txn_64
txn_65
txn_66
txn_67
txn_68
txn_69
txn_70
txn_71
txn_72
txn_73
txn_74
txn_75
txn_76
txn_77
txn_78
txn_79
others_1
others_2
others_3
others_4
others_5
others_6
others_7
others_8
others_9
others_10
others_11
others_12
others_13
others_14
others_15
others_16
others_17
others_18
others_19
others_20
others_21
others_22
others_23
others_24
others_25
others_26
others_27
others_28
others_29
others_30
others_31
others_32
demog_23
demog_24
demog_25
demog_26
demog_27
demog_28
demog_29
demog_30
demog_31
demog_32
demog_33
demog_34
demog_35
demog_36
demog_37
demog_38
others_33
others_34
others_35
others_36
others_37
others_38
others_39
others_40
others_41
txn_80
txn_81
demog_39
email_domain
demog_40
demog_41
others_42
others_43
others_44
others_45
demog_42
demog_43

## Part - 2

In [98]:
# Sort columns based on no.of unique values it takes
dflists = []
rem_cols = []
for i in df.columns:
    if not i.startswith('demog') and not i.startswith('txn') and not i.startswith('others') and i != 'Target':
        rem_cols.append(i)
        fraudvals = df[df['Target']==1][i].unique()
        notfraudvals = [x for x in df[i].unique() if x not in fraudvals and x is not np.nan]
        if len(dflists)>0:
            currdf = dflists[-1]
        else:
            currdf = df
        dflists.append(currdf[~currdf[i].isin(notfraudvals)])
        print("People who did fraud:")
        print(fraudvals)
        print("People who didn't do fraud:")
        print(notfraudvals)
        print()

People who did fraud:
['IN']
People who didn't do fraud:
['SG', 'US', 'GB', 'CN', 'AU', 'MY', 'CA', 'KW', 'AE', 'DE', 'IE', 'QA', 'SA', 'NZ', 'JP', 'FJ', 'CH', 'PH', 'PL', 'LU', 'ZM', 'MX', 'HK', 'BE', 'GH', 'MG', 'FR', 'SI', 'NL', 'OM', 'ZA', 'FI', 'SE', 'DK', 'ES', 'LK', 'NG', 'BH', 'PT', 'MU', 'TH', 'JO', 'KR', 'ID', 'KY', 'CL', 'CZ', 'RU']

People who did fraud:
['100001 to 5L' '5L to 10L' '10L to 25L' '0 to 1L' '50L to 3Crore'
 '25L to 50L' '3Crore to 5Crore' nan]
People who didn't do fraud:
['0', '5Crore to 10Crore', '15Crore to 20Crore', '20Crore to 35Crore', '10Crore to 15Crore']

People who did fraud:
['Tier 2' 'Tier 8' 'Tier 1' 'Tier 7' 'Rural' 'Tier 3' 'Tier 5' 'Tier 6'
 'Tier 4' nan]
People who didn't do fraud:
[]

People who did fraud:
['Other' 'Self_Employed' 'Student' 'Salaried' 'Homemaker' 'Retired'
 'Unemployed' 'Minor']
People who didn't do fraud:
[]

People who did fraud:
['and' nan 'ios']
People who didn't do fraud:
[]

People who did fraud:
['gmail' 'Others' 'yahoo' 'hotmail' 'icloud']
People who didn't do fraud:
['rediff', 'idfc', 'outlook', 'aol', 'msn']

In [106]:
print("Using",rem_cols[0],", you can remove :")
print(df.shape[0]-dflists[0].shape[0])
for i in range(1,len(dflists)):
    print("Using ",rem_cols[i]," :")
    print(dflists[i-1].shape[0]-dflists[i].shape[0])

Using country_code , you can remove :
487
Using  income  :
3821
Using  city_tier  :
0
Using  occupation  :
0
Using  os  :
0
Using  email_domain  :
695

In [97]:
df[df['income']=='0']

,Target,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,demog_4,demog_5,...,demog_39,email_domain,demog_40,demog_41,others_42,others_43,others_44,others_45,demog_42,demog_43
1412,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,4.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN
1432,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,4.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN
1499,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,3.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN
1518,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,4.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN
1569,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,4.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29914,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,3.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN
29919,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,4.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN
29934,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,4.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN
29949,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,3.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN
29960,0,NaN,NaN,NaN,0,101.0,NaN,Other,NaN,4.0,...,1,Others,NaN,0,NaN,NaN,NaN,NaN,0,NaN