In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train_final.csv')

/tmp/ipykernel_27194/1516496803.py:1: DtypeWarning: Columns (4,17,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('train_final.csv')

In [10]:
train = train.drop('account_opening_date',axis=1)
train

,Target,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,demog_4,demog_5,...,demog_39,email_domain,demog_40,demog_41,others_42,others_43,others_44,others_45,demog_42,demog_43
0,1,IN,55.0,1.0,0 to 1L,101.0,Tier 8,Salaried,N,3.0,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,low
1,1,IN,53.0,3.0,100001 to 5L,101.0,Tier 7,Self_Employed,N,3.0,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
2,1,IN,53.0,3.0,100001 to 5L,101.0,Tier 6,Self_Employed,N,4.0,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,medium
3,1,IN,55.0,2.0,50L to 3Crore,101.0,Tier 1,Self_Employed,N,3.0,...,1,hotmail,low,1,NaN,NaN,NaN,NaN,1,medium
4,1,IN,55.0,1.0,100001 to 5L,101.0,Tier 3,Salaried,N,4.0,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91245,0,IN,55.0,1.0,10L to 25L,101.0,Tier 7,Salaried,N,4.0,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium
91246,0,IN,55.0,1.0,100001 to 5L,101.0,Rural,Salaried,N,2.0,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,low
91247,0,IN,55.0,1.0,100001 to 5L,101.0,Tier 1,Salaried,N,4.0,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,medium
91248,0,IN,55.0,1.0,100001 to 5L,101.0,Tier 1,Other,N,4.0,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium
91249,0,IN,55.0,1.0,0 to 1L,101.0,Rural,Salaried,N,3.0,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High